$cHover: red;
$cActive: purple;
$cGreen: green;

ul {
  a {
    text-decoration: none;

    &:hover {
      color: $cHover;
    }

    &:active {
      color: $cActive;
    }

    &:visited {
      color: $cGreen;
    }
  }
}

.para {
  padding: 10px 20px;

  .reverse & {
    width: 50%;
    padding: 0;
  }
}

.para-short {
  width: 50%;
  margin: 0 auto;

  .reverse & {
    width: 100%;
    padding: 10px 20px;
  }
}

$cHover: magenta;
$cActive: pink;
$cGreen: lightcoral;

ol {
  a {
    &:hover {
      color: $cHover;
    }

    &:active {
      color: $cActive;
    }

    &:visited {
      color: $cGreen;
    }
  }
}

.all-visited a {
  text-decoration: line-through;
}
