.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

@for $i from 1 through 5 {
  .box-#{$i} {
    border-width: #{$i}px;
  }
}

// to = pana la
@for $i from 0 to 5 {
  .box-0#{$i + 1} {
    width: 150px + $i * 5;
    height: 150px + $i * 5;
  }
}

// throught = inclusiv
@for $i from 1 through 5 {
  @if $i % 2 != 0 {
  }
  .box-#{$i}0 {
    background: gray;
  }
}
